<h1>About</h1>
<p>
	<%= link_to "My Blog", "http://wouterveenstra.tumblr.com" %> 
	is a project set to connect all cyclists in Stockholm with eachother. Follow me <%= link_to "here", "http://wouterveenstra.tumblr.com" %>
	<p/>

