<div class="center hero-unit">
	<h1>Welcome to my first site</h1>
	<p>
		I will build a bike community here. Find me in the meantime at 
		<%= link_to "My Blog", "http://wouterveenstra.tumblr.com" %>
	</p>
	<p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
	</p>
</div>


